<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appearanceSize</key>
	<string>2</string>
	<key>appearanceStyle</key>
	<string>2</string>
	<key>menubarIcon</key>
	<string>1</string>
	<key>preferencesVersion</key>
	<string>10.6.0</string>
	<key>previewFocusedWindow</key>
	<string>true</string>
	<key>settingsWindowShownOnFirstLaunch</key>
	<string>true</string>
	<key>shortcutCount</key>
	<string>1</string>
	<key>updatePolicy</key>
	<string>1</string>
</dict>
</plist>
