<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.ubunatic.macos.appcloser</string>
	<key>LimitLoadToSessionType</key>
	<array>
		<string>Aqua</string>
		<string>Background</string>
		<string>LoginWindow</string>
		<string>StandardIO</string>
		<string>System</string>
	</array>
	<key>ProgramArguments</key>
	<array>
		<string>osascript</string>
		<!-- APP_PATH --><string>/Users/uwe/git/dotfiles/apps/macos/appcloser/appcloser</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
